# Import pandas

In [3]:
import pandas as pd

# Load data file

In [ ]:
# Load data file
df = pd.read_csv('titanic.csv')

## Get basic information about the data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

#### Find specific records in the data

In [6]:
# Look for a record by index

df.loc[1]

PassengerId                                 893
Survived                                      1
Pclass                                        3
Name           Wilkes, Mrs. James (Ellen Needs)
Sex                                      female
Age                                        47.0
SibSp                                         1
Parch                                         0
Ticket                                   363272
Fare                                        7.0
Cabin                                       NaN
Embarked                                      S
Name: 1, dtype: object

In [8]:
# Slice by rows

df.iloc[0:3, 2:4]

   Pclass                              Name
0       3                  Kelly, Mr. James
1       3  Wilkes, Mrs. James (Ellen Needs)
2       2         Myles, Mr. Thomas Francis

## Shape

### What do we want to know?

#### Who survived the Titanic sinking?

In [16]:
# We know we need the 'Survived' and the 'Name' columns

who_survived = df.groupby('Survived')['Name'].apply(list)

#print("List of passengers that survived: ", who_survived[1])

# A different method to format the list better
print("Passengers who survived: ")
for name in who_survived[1]:
    print(name)
    
# List of passengers that did NOT survive
print("\nList of passengers that did not survive: ")
for name in who_survived[0]:
    print(name)

Passengers who survived:
Wilkes, Mrs. James (Ellen Needs)
Hirvonen, Mrs. Alexander (Helga E Lindqvist)
Connolly, Miss. Kate
Abrahim, Mrs. Joseph (Sophie Halaut Easu)
Snyder, Mrs. John Pillsbury (Nelle Stevenson)
Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)
del Carlo, Mrs. Sebastiano (Argenia Genovesi)
Ilmakangas, Miss. Ida Livija
Assaf Khalil, Mrs. Mariana (Miriam")"
Flegenheim, Mrs. Alfred (Antoinette)
Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
Ostby, Miss. Helene Ragnhild
Dean, Mrs. Bertram (Eva Georgetta Light)
Johnston, Mrs. Andrew G (Elizabeth Lily" Watson)"
Roth, Miss. Sarah A
Cacic, Miss. Manda
Corbett, Mrs. Walter H (Irene Colvin)
Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)
Bucknell, Mrs. William Robert (Emma Eliza Ward)
Coutts, Mrs. William (Winnie Minnie" Treanor)"
Hocking, Miss. Ellen Nellie""
Fortune, Miss. Ethel Flora
Chaudanson, Miss. Victorine
Bradley, Miss. Bridget Delia
Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)
Burns, Miss. Mary Delia
Fortune, Mrs. Mark (Mary McDougald)
Mulvihill, Miss. Bertha E
Nieminen, Miss. Manta Josefina
Geiger, Miss. Amalie
Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)
Doyle, Miss. Elizabeth
Barry, Miss. Julia
Badman, Miss. Emily Louisa
O'Donoghue, Ms. Bridget
Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)
Davidson, Mrs. Thornton (Orian Hays)
Cavendish, Mrs. Tyrell William (Julia Florence Siegel)
Braf, Miss. Elin Ester Maria
Stengel, Mrs. Charles Emil Henry (Annie May Morris)
Thomas, Mrs. Alexander (Thamine Thelma")"
Shine, Miss. Ellen Natalia
Evans, Miss. Edith Corse
Buckley, Miss. Katherine
Straus, Mrs. Isidor (Rosalie Ida Blun)
Sandstrom, Miss. Beatrice Irene
Chapman, Mrs. John Henry (Sara Elizabeth Lawry)
Watt, Miss. Bertha J
Schabert, Mrs. Paul (Emma Mock)
Cribb, Miss. Laura Alice
McCoy, Miss. Alicia
Lefebre, Mrs. Frank (Frances)
Drapkin, Miss. Jennie
Goodwin, Miss. Jessie Allis
Daniels, Miss. Sarah
Earnshaw, Mrs. Boulton (Olive Potter)
Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)
Bird, Miss. Ellen
Lundin, Miss. Olga Elida
Peacock, Mrs. Benjamin (Edith Nile)
Smyth, Miss. Julia
Wright, Miss. Marion
Kink-Heilmann, Mrs. Anton (Luise Heilmann)
Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)
Hellstrom, Miss. Hilda Maria
Brown, Miss. Edith Eileen
Sincock, Miss. Maude
Becker, Mrs. Allen Oliver (Nellie E Baumgardner)
Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)
Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)
Douglas, Mrs. Frederick Charles (Mary Helene Baxter)
Phillips, Miss. Alice Frances Louisa
Sage, Miss. Ada
Nilsson, Miss. Berta Olivia
Rasmussen, Mrs. (Lena Jacobsen Solvang)
Murphy, Miss. Nora
Quick, Miss. Winifred Vera
McGowan, Miss. Katherine
Rosenbaum, Miss. Edith Louise
Howard, Mrs. Benjamin (Ellen Truelove Arman)
Andersson, Miss. Ida Augusta Margareta
Mahon, Miss. Bridget Delia
Widener, Mrs. George Dunton (Eleanor Elkins)
Duran y More, Miss. Florentina
Cook, Mrs. (Selena Rogers)
Candee, Mrs. Edward (Helen Churchill Hungerford)
Moubarek, Mrs. George (Omine Amenia" Alexander)"
McNeill, Miss. Bridget
Willard, Miss. Constance
Hiltunen, Miss. Marta
Douglas, Mrs. Walter Donald (Mahala Dutton)
Lindstrom, Mrs. Carl Johan (Sigrid Posse)
Christy, Mrs. (Alice Frances)
Karnes, Mrs. J Frank (Claire Bennett)
Hold, Mrs. Stephen (Annie Margaret Hill)
Khalil, Mrs. Betros (Zahie Maria" Elias)"
West, Miss. Barbara J
Bentham, Miss. Lilian W
Wells, Mrs. Arthur Henry (Addie" Dart Trevaskis)"
Klasen, Miss. Gertrud Emilia
Howard, Miss. May Elizabeth
Clark, Mrs. Walter Miller (Virginia McDowell)
Lennon, Miss. Mary
Bryhl, Miss. Dagmar Jenny Ingeborg
Oreskovic, Miss. Jelka
Fleming, Miss. Honora
Touma, Miss. Maria Youssef
Rosblom, Miss. Salli Helena
Daly, Miss. Margaret Marcella Maggie""
Laroche, Miss. Louise
McCarthy, Miss. Catherine Katie""
Crosby, Mrs. Edward Gifford (Catherine Elizabeth Halstead)
Hansen, Mrs. Claus Peter (Jennie L Howard)
Carr, Miss. Jeannie
White, Mrs. John Stuart (Ella Holmes)
Hagardon, Miss. Kate
Kreuchen, Miss. Emilie
Becker, Miss. Ruth Elizabeth
Davies, Mrs. John Morgan (Elizabeth Agnes Mary White)
Nakid, Mrs. Said (Waika Mary" Mowad)"
Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)
Abelseth, Miss. Karen Marie
Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
Walcroft, Miss. Nellie
Greenfield, Mrs. Leo David (Blanche Strouse)
Dean, Miss. Elizabeth Gladys Millvina""
Brown, Mrs. John Murray (Caroline Lane Lamson)
Lindell, Mrs. Edvard Bengtsson (Elin Gerda Persson)
Mallet, Mrs. Albert (Antoinette Magnin)
Ware, Mrs. John James (Florence Louise Long)
Harder, Mrs. George Achilles (Dorothy Annan)
Sage, Mrs. John (Annie Bullen)
Riihivouri, Miss. Susanna Juhantytar Sanni""
Gibson, Mrs. Leonard (Pauline C Boeson)
Wilson, Miss. Helen Alice
Dodge, Mrs. Washington (Ruth Vidaver)
Bowen, Miss. Grace Scott
Kink, Miss. Maria
Risien, Mrs. Samuel (Emma)
McNamee, Mrs. Neal (Eileen O'Leary)
Herman, Miss. Kate
Lines, Mrs. Ernest H (Elizabeth Lindsey James)
Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)
Bonnell, Miss. Caroline
Gibson, Miss. Dorothy Winifred
Riordan, Miss. Johanna Hannah""
Peacock, Miss. Treasteall
Naughton, Miss. Hannah
Minahan, Mrs. William Edward (Lillian E Thorpe)
Henriksson, Miss. Jenny Lovisa
Oliva y Ocana, Dona. Fermina

List of passengers that did not survive:
Kelly, Mr. James
Myles, Mr. Thomas Francis
Wirz, Mr. Albert
Svensson, Mr. Johan Cervin
Caldwell, Mr. Albert Francis
Davies, Mr. John Samuel
Ilieff, Mr. Ylio
Jones, Mr. Charles Cresson
Howard, Mr. Benjamin
Keane, Mr. Daniel
Assaf, Mr. Gerios
Rothschild, Mr. Martin
Olsen, Master. Artur Karl
Williams, Mr. Richard Norris II
Robins, Mr. Alexander A
Daher, Mr. Shedid
Brady, Mr. John Bertram
Samaan, Mr. Elias
Louch, Mr. Charles Alexander
Jefferys, Mr. Clifford Thomas
Mock, Mr. Philipp Edmund
Katavelas, Mr. Vassilios (Catavelas Vassilios")"
Sap, Mr. Julius
Hee, Mr. Ling
Karun, Mr. Franz
Franklin, Mr. Thomas Parham
Goldsmith, Mr. Nathan
Peltomaki, Mr. Nikolai Johannes
Chevre, Mr. Paul Romaine
Shaughnessy, Mr. Patrick
Smith, Mr. Lucien Philip
Pulbaum, Mr. Franz
Mangiavacchi, Mr. Serafino Emilio
Rice, Master. Albert
Cor, Mr. Bartol
Abelseth, Mr. Olaus Jorgensen
Davison, Mr. Thomas Henry
Dika, Mr. Mirko
McCrae, Mr. Arthur Gordon
Bjorklund, Mr. Ernst Herbert
Ryerson, Master. John Borie
Moore, Mr. Clarence Bloomfield
Tucker, Mr. Gilbert Milligan Jr
Minkoff, Mr. Lazar
Ovies y Rodriguez, Mr. Servando
Keeping, Mr. Edwin
Miles, Mr. Frank
Aldworth, Mr. Charles Augustus
Boulos, Master. Akar
Straus, Mr. Isidor
Case, Mr. Howard Brown
Demetri, Mr. Marinko
Lamb, Mr. John Joseph
Khalil, Mr. Betros
Wells, Master. Ralph Lester
Pedersen, Mr. Olaf
Guest, Mr. Robert
Birnbaum, Mr. Jakob
Tenglin, Mr. Gunnar Isidor
Makinen, Mr. Kalle Edvard
Nancarrow, Mr. William Henry
Weisz, Mr. Leopold
Foley, Mr. William
Johansson Palmquist, Mr. Oskar Leander
Holthen, Mr. Johan Martin
Buckley, Mr. Daniel
Ryan, Mr. Edward
Willer, Mr. Aaron (Abi Weller")"
Swane, Mr. George
Stanton, Mr. Samuel Ward
Chronopoulos, Mr. Demetrios
Thomas, Mr. John
Beattie, Mr. Thomson
Kiernan, Mr. John
Carver, Mr. Alfred John
Kennedy, Mr. John
Brobeck, Mr. Karl Rudolf
Bowenur, Mr. Solomon
Petersen, Mr. Marius
Spinner, Mr. Henry John
Gracie, Col. Archibald IV
Thomas, Mr. Charles P
Dintcheff, Mr. Valtcho
Carlsson, Mr. Carl Robert
Zakarian, Mr. Mapriededer
Schmidt, Mr. August
Goodwin, Mr. Charles Frederick
Ryerson, Mr. Arthur Larned
Beauchamp, Mr. Henry James
Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey")"
Vander Planke, Mr. Julius
Hilliard, Mr. Herbert Henry
Davies, Mr. Evan
Crafton, Mr. John Bertram
Lahtinen, Rev. William
Matinoff, Mr. Nicola
Storey, Mr. Thomas
Asplund, Master. Filip Oscar
Duquemin, Mr. Joseph
Borebank, Mr. John James
Touma, Master. Georges Youssef
Pearce, Mr. Ernest
Peruschitz, Rev. Joseph Maria
Brandeis, Mr. Emil
Ford, Mr. Edward Watson
Lithman, Mr. Simon
Zakarian, Mr. Ortin
Dyker, Mr. Adolf Fredrik
Torfa, Mr. Assad
Asplund, Mr. Carl Oscar Vilhelm Gustafsson
Stengel, Mr. Charles Emil Henry
McCrie, Mr. James Matthew
Compton, Mr. Alexander Taylor Jr
Lane, Mr. Patrick
Maybery, Mr. Frank Hubert
Davies, Mr. Joseph
Veal, Mr. James
Angle, Mr. William A
Salomon, Mr. Abraham L
van Billiard, Master. Walter John
Lingane, Mr. John
Drew, Master. Marshall Brines
Karlsson, Mr. Julius Konrad Eugen
Spedden, Master. Robert Douglas
Baimbrigge, Mr. Charles Robert
Danbom, Master. Gilbert Sigvard Emanuel
Astor, Col. John Jacob
Andrew, Mr. Frank Thomas
Omont, Mr. Alfred Fernand
Collett, Mr. Sidney C Stuart
Delalic, Mr. Redjo
Andersen, Mr. Albert Karvin
Finoli, Mr. Luigi
Deacon, Mr. Percy William
Head, Mr. Christopher
Wick, Mr. George Dennick
Thomson, Mr. Alexander Morrison
Reynolds, Mr. Harold J
Karlsson, Mr. Einar Gervasius
Asplund, Mr. Johan Charles
Everett, Mr. Thomas James
Hocking, Mr. Samuel James Metcalfe
Sweet, Mr. George Frederick
Wiklund, Mr. Karl Johan
Linehan, Mr. Michael
Cumings, Mr. John Bradley
Vendel, Mr. Olof Edvin
Warren, Mr. Frank Manley
Baccos, Mr. Raffull
Spedden, Mr. Frederic Oakley
Hyman, Mr. Abraham
Johnston, Master. William Arthur Willie""
Kenyon, Mr. Frederick R
Drew, Mr. James Vivian
Abrahamsson, Mr. Abraham August Johannes
Clark, Mr. Walter Miller
Salander, Mr. Karl Johan
Wenzel, Mr. Linhart
MacKay, Mr. George William
Mahon, Mr. John
Niklasson, Mr. Samuel
Midtsjo, Mr. Karl Albert
de Messemaeker, Mr. Guillaume Joseph
Nilsson, Mr. August Ferdinand
Portaluppi, Mr. Emilio Ilario Giuseppe
Lyntakoff, Mr. Stanko
Chisholm, Mr. Roderick Robert Crispin
Warren, Mr. Charles William
Pokrnic, Mr. Mate
McCaffry, Mr. Thomas Francis
Fox, Mr. Patrick
Saade, Mr. Jean Nassr
Parker, Mr. Clifford Richard
Faunthorpe, Mr. Harry
Ware, Mr. John James
Oxenham, Mr. Percy Thomas
Peacock, Master. Alfred Edward
Dennis, Mr. William
Franklin, Mr. Charles (Charles Fardon)
Snyder, Mr. John Pillsbury
Mardirosian, Mr. Sarkis
Ford, Mr. Arthur
Rheims, Mr. George Alexander Lucien
Nasr, Mr. Mustafa
Dodge, Dr. Washington
Wittevrongel, Mr. Camille
Angheloff, Mr. Minko
Samaan, Mr. Hanna
Loring, Mr. Joseph Holland
Johansson, Mr. Nils
Olsson, Mr. Oscar Wilhelm
Malachard, Mr. Noel
Phillips, Mr. Escott Robert
Pokrnic, Mr. Tome
Allison, Mr. Hudson Joshua Creighton
Aks, Master. Philip Frank
Hays, Mr. Charles Melville
Cacic, Mr. Jego Grga
Vartanian, Mr. David
Sadowitz, Mr. Harry
Spencer, Mr. William Augustus
Rogers, Mr. Reginald Harry
Jonsson, Mr. Nils Hilding
Jefferys, Mr. Ernest Wilfred
Andersson, Mr. Johan Samuel
Krekorian, Mr. Neshan
Nesson, Mr. Israel
Rowe, Mr. Alfred G
Assam, Mr. Ali
Rosenshine, Mr. George (Mr George Thorne")"
Clarke, Mr. Charles Valentine
Enander, Mr. Ingvar
Dulles, Mr. William Crothers
Thomas, Mr. Tannous
Cor, Mr. Ivan
Maguire, Mr. John Edward
de Brito, Mr. Jose Joaquim
Elias, Mr. Joseph
Denbury, Mr. Herbert
Betros, Master. Seman
Fillbrook, Mr. Joseph Charles
Lundstrom, Mr. Thure Edvin
Sage, Mr. John George
van Billiard, Master. James William
Botsford, Mr. William Hull
Giles, Mr. Ralph
Stokes, Mr. Philip Joseph
Dibden, Mr. William
Herman, Mr. Samuel
Julian, Mr. Henry Forbes
Lockyer, Mr. Edward
O'Keefe, Mr. Patrick
Sage, Master. William Henry
Strilic, Mr. Ivan
Caram, Mr. Joseph
Pallas y Castello, Mr. Emilio
Giles, Mr. Edgar
Ismay, Mr. Joseph Bruce
Harbeck, Mr. William H
Cotterill, Mr. Henry Harry""
Hipkins, Mr. William Edward
Asplund, Master. Carl Edgar
O'Connor, Mr. Patrick
Foley, Mr. Joseph
Wheeler, Mr. Edwin Frederick""
Aronsson, Mr. Ernst Axel Algot
Ashby, Mr. John
Canavan, Mr. Patrick
Palsson, Master. Paul Folke
Payne, Mr. Vivian Ponsonby
Abbott, Master. Eugene Joseph
Gilbert, Mr. William
Kink-Heilmann, Mr. Anton
Colbert, Mr. Patrick
Larsson-Rondberg, Mr. Edvard A
Conlon, Mr. Thomas Henry
Gale, Mr. Harry
Carrau, Mr. Jose Pedro
Frauenthal, Mr. Isaac Gerald
Nourney, Mr. Alfred (Baron von Drachstedt")"
Ware, Mr. William Jeffery
Widener, Mr. George Dunton
Spector, Mr. Woolf
Saether, Mr. Simon Sivertsen
Ware, Mr. Frederick
Peter, Master. Michael J

#### How many Men vs Women survived?

In [17]:
# We know we're going to need the 'Survived' column and the 'Sex' column.

# Group the data by survived and sex, and get the size of each group.
survived_by_sex = df.groupby(['Survived', 'Sex']).size()

print(survived_by_sex)

Survived  Sex
0         male      266
1         female    152
dtype: int64